body {
	font-family: sans-serif;
	background-image: url(../img/cool_pic.jpg);
}
.upper_block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 140px;
	background-color: #C8C8C8;
	opacity: 0.7;
}

.sneakers {
	margin-top: 5px;
	margin-left: 15px; 
	width: 145px;
	height: 130px;
}

.button {
	border: 1px solid #999;
}

.title {
	font-family: FANTASY;
	color: #295218;
	position: absolute;
	margin-top: 25px;
	margin-left: 30%;
	font-size: 80px;
}

.logged_user {
	font-family: georgia;
	color: blue;
}

.logged_logo {
	margin-top: 4px; 
	width: 14px;
	height: 14px;
}

.reg {
	margin-top: 10px;
	margin-right: 22px;
}

.enter {
	margin-top: 6px;
	margin-left: 20px;
}

.cart {
	top: -94px;
	left: -20px;
	width: 110px;
	height: 80px;
	position: relative;
	float: right;
}

.cart_zone {

	width: 600px;
	height: 200px;
	background-color: #C8C8C8;
	margin-top: 2%;
	margin-left: 15%;
}

.cart_mini_zone {

	margin: 12px;
	position: relative;
	top: 20px;
}

.items_zone {

	width: 1600px;
	height: 2000px;
	background-color: #C8C8C8;
	margin-top: 2%;
	margin-left: 5%;
}

.adm_zone {
	width: 400px;
	height: 250px;
	background-color: #C8C8C8;
	margin-top: 2%;
	margin-left: 5%;
	font-family: arial;
}

.menu {
	font-size: 2vw;
	text-decoration: none;
	margin: 10px;
}

.item {
	position: relative;
	top: 10px;
	left: 10px;
	width: 230px;
	height: 130px;
}

.item_to_print {
	display: inline-block;
	margin-top: 20px;
	margin-left: 2px;
	top: 10px;
	left: 10px;
	width: 250px;
	height: 210px;
	background-color: grey;
}

.info {
	font-family: arial;
	margin: 4px;
	font-size: 13px;
}

.admin_button {
	position: absolute;
	font-family: arial;
	margin: 66px;
	margin-left: 630px;
	font-size: 34px;
	opacity: 0.1;
}

.to_cart {
	font-family: arial;
	margin: 2px;
	font-size: 13px;
	background-color: #568244;
}

.database {
	font-size: 1vw;
	font-family: tahoma;
	position: relative;
	top: -280px;
	left: 600px;
	width: 400px;
	height: 620px;
	background-color: #ACBFA4;
}

[name='submit']
{
	width: 60px;
}